body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  overflow-x: hidden;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 10px auto 0 auto;
}

h2 {
  margin-top: 0;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding-bottom: 15px;
  padding-top: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.17rem;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F9 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a:hover {
  color: white;
  text-decoration: line-through;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0;
}

.intro {
  width: 40%;
  margin: auto;
}

.mountain {
  position: relative;
  width: 700px;
  left: 400px;
}

.top-cloud {
  position: absolute;
  right: 180px;
  top: 30px;
  width: 260px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
  width: 260px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pc {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pad {
  margin: 20px auto 50px;
}

.pro {
  text-decoration: underline;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  margin: 50px auto 0 auto;
  font-size: 0.8rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}

@media screen and (max-device-width: 480px) {
  .mountain {
    position: relative;
    width: 900px;
    left: 40px;
    margin-top: 320px;
  }

  .top-cloud {
    position: absolute;
    right: 90px;
    top : 60px;
    width: 300px;
  }

  .bottom-cloud {
    position: absolute;
    left: 80px;
    bottom: 530px;
    width: 300px;
  }

  h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 112px;
    margin: 190px auto 0 auto;
  }

  h2 {
    margin-top: 0;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30.4pxrem;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: blod;
  }

  a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20.8px;
  }

  body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
  }

  h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 40px auto 60px;
  }

  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .copyright {
    margin: 50px auto 0 auto;
    font-size: 10px;
  }
  p {
    line-height: 2;
    font-size: 18px;
  }
  .pad {
    margin: 20px auto 50px;
    font-size: 16px;
  }
  .skill-row {
    width: 65%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  .intro {
    width: 50%;
    margin: auto;
    font-size: 27.2px;
  }
  .pc {
    width: 30%;
    float: left;
    margin-right: 30px;
  }

  .chillies {
    width: 30%;
    float: right;
    margin-left: 30px;
  }
  .contact-message {
    width: 65%;
    margin: 40px auto 60px;
    font-size: 24px;
  }
}
